.headContain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  border-bottom: 1px solid #707070;
}

.logo h2 {
  font-size: 30px;
  color: #0044ad;
  cursor: pointer;
}

.logo div {
  display: none;
}

.meunLinks {
  display: flex;
  gap: 30px;
  cursor: pointer;
  align-items: center;
}

.meunLinks a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}

.meunLinks a:hover,
.active {
  background-color: #0044ad;
  color: #fff !important;
  border-radius: 4px;
}

.headBtn button {
  background-color: #0044ad;
  color: #fff;
  padding: 15px 20px;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  font-family: unset;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .headContain {
    padding: 20px;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start;
  }

  .headContain .meunLinks,
  .headContain .headBtn {
    display: none;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .meunLinks {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .headBtn button,
  .headBtn,
  .meunLinks a {
    width: 100%;
  }

  .mobile .meunLinks,
  .mobile .headBtn {
    display: flex;
  }

  .logo div {
    cursor: pointer;
    display: block;
  }
}
