.headContain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    border-bottom: 1px solid #5082dd;
}

.logo h2{
    font-size: 30px;
    color: #5082dd;
    cursor: pointer;
}

.meunLinks{
    display: flex;
    gap: 30px;
    cursor: pointer;
    align-items: center;
}

.meunLinks p{
    padding: 10px;
    font-size: 18px;
}

.meunLinks p:hover{
    background-color: #5082dd;
    color: #fff;
    border-radius: 4px;
}

.headBtn button{
    background-color: #5082dd;
    color: #fff;
    padding: 10px 30px;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}