.heroContain {
  background-color: #f5f5f5;
  padding: 100px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heroContain h1 {
  font-size: 60px;
  color: #0044ad;
}

.linkText {
  text-decoration: underline;
  cursor: pointer;
  color: #0044ad;
}

.link {
  text-decoration: none;
  color: #000;
}
