* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.slick-slider {
  overflow-x: hidden;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svgSize {
  width: 4em;
  height: 4em;
}

@media screen and (max-width: 768px) {
  .svgSize {
    width: 2.5em;
    height: 2.5em;
  }
}
