.footerContainer {
  background-color: #05357c;
  width: 100%;
  padding: 80px 100px;
  display: flex;
  justify-content: space-between;
}

.footerIcons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
}

.footerIcons h1 {
  font-size: 30px;
  color: #fff;
}

.footIcons {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.footerContact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.footerContact h1 {
  font-size: 30px;
  color: #fff;
}

.contactOne {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactOne p {
  font-size: 16px;
  color: #fff;
  width: 70%;
}

.footerSubscribe {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
}

.footerSubscribe h1 {
  font-size: 30px;
  color: #fff;
}

.footerSubscribe p {
  font-size: 16px;
  color: #fff;
}

.mailInput {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  font-family: unset;
  color: #333332;
  font-size: 17px;
  border: 0px;
  border-radius: 4px;
}

.inputbtn button {
  background-color: transparent;
  padding: 10px 30px;
  border: 1px solid #fff;
  color: #fff;
  font-family: unset;
  font-size: 16px;
  margin: 20px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.inputbtn button:hover {
  background-color: #fff;
  color: #122582;
}

.copyright {
  padding: 30px;
  background-color: #fff;
}

.copyright p {
  color: #122582;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    padding: 80px 30px;
    flex-direction: column;
    gap: 60px;
  }

  .footerIcons {
    width: 100%;
  }

  .footerContact {
    width: 100%;
  }

  .footerSubscribe {
    width: 100%;
  }
  .footerIcons h1 {
    font-size: 30px;
  }
}
